@import "tailwindcss";

:root {
  --background: #f8fafc;
  --surface: #ffffff;
  --surface-hover: #f1f5f9;

  --primary: #1f883b;
  --primary-hover: #059669;
  --primary-foreground: #ffffff;

  --elevated: #000000;
  --elevated-foreground: #ffffff;

  --border: #d0d7de;

  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-muted: #94a3b8;
  --text-interactive: #7ca3fd;

  --success: #3fb950;
  --warning: #d29922;
  --danger: #f85149;

  /* Misc */
  --shadow: rgba(15, 23, 42, 0.08);
}

.dark {
  /* Brand */
  --background: #010409;
  --surface: #0d1117;
  --surface-hover: #1a1a1a;

  --primary: #238636;
  --primary-hover: #34d399;

  --border: #1f2937;

  --text-primary: #fafafa;
  --text-secondary: #d4d4d8;
  --text-muted: #71717a;

  --success: #3fb950;
  --warning: #d29922;
  --danger: #f85149;

  /* Misc */
  --shadow: rgba(94, 94, 94, 0.4);
}

@layer components {
  .bg-theme{
    background-color: var(--background);
  }
  .bg-surface {
    background-color: var(--surface);
  }
  .bg-surface-hover:hover {
    background-color: var(--surface-hover);
  }

  .btn-primary {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }
  .btn-primary:hover {
    background-color: var(--primary-hover);
  }

  .elevated {
    background-color: var(--elevated);
    color: var(--elevated-foreground);
  }

  .border-theme {
    border: 1px solid var(--border);
  }

  .text-primary {
    color: var(--text-primary);
  }
  .text-secondary {
    color: var(--text-secondary);
  }
  .text-muted {
    color: var(--text-muted);
  }
  .text-interactive{
    color: var(--text-interactive)
  }

  .text-success {
    color: var(--success);
  }
  .text-warning {
    color: var(--warning);
  }
  .text-danger {
    color: var(--danger);
  }

  .shadow-theme {
    box-shadow: 0 4px 6px var(--shadow);
  }
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Mona Sans, system-ui;
  width: 100dvw;
  height: 100dvh;
}